<?xml version="1.0" encoding="UTF-8"?>
<beans 	xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance" 
	xmlns = "http://www.springframework.org/schema/beans"
	xmlns:context = "http://www.springframework.org/schema/context"
	xmlns:tx ="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd"
		>


	<context:component-scan base-package="kr.kosta.coffeeorder">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	
	<!-- 이부분은 나중에 세팅(데이터베이스연결) -->
	<bean id="dataSource" 
		class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://jkyoo11.ipdisk.co.kr:3306/sktest_s" />
		<property name="username" value="skuser_s" />
		<property name="password" value="skuser_s" />
	</bean>
	
	
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />		
	</bean>
	
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="classpath:configuration.xml"/>
	</bean>
	
	
	<bean id ="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="kr.kosta.coffeeorder.dao.impl.mapper"/>
	</bean>
	
</beans>